Makefile
config.h
config.log
config.status
doc/Makefile
libtool
src/.deps/
src/.libs/
src/Makefile
src/assertd.lo
src/assertd.o
src/client.lo
src/client.o
src/libthrulay.la
src/reporting.lo
src/reporting.o
src/server.lo
src/server.o
src/thrulay.o
src/thrulayd.o
src/util.lo
src/util.o
stamp-h1
thrulay.spec
